<section class="bestsellers">
    <div class="container bastsellers-container">
        <h2 class="bestsellers-title">Бестcеллери</h2>
        <div class="bestsellers-buttondiv">
            <button class="bestseller-button" type="button"><img src="./img/main-page/3bestsaller/bestseller-left.png" alt="image of a button "></button>       
            <button class="bestseller-button" type="button"><img src="./img/main-page/3bestsaller/bestseller-right.png" alt="image of a button "></button>      
        </div> 
        <ul class="bestsellers-list">
            <li class="bestseller-item">
                <img src="./img/main-page/3bestsaller/mango-mousse-cake.webp" alt="bestseller image">
                <div class="bestsellers-titlediv">
                    <h3>Мусовий торт “<br>Манго-маракуйя”</h3>
                    <img src="./img/main-page/header/Shopping-cart.webp" alt="shopping cart">
                </div>
                <p>1200 грн/ 3 кг</p>
            </li>
            <li class="bestseller-item">
                <img src="./img/main-page/3bestsaller/brownie-dough.webp" alt="bestseller image">
                <div class="bestsellers-titlediv">
                    <h3>Шоколадне тістечко<br>брауні</h3>
                    <img src="./img/main-page/header/Shopping-cart.webp" alt="shopping cart">
                </div>
                <p>300 грн/ 3шт</p>
            </li>
            <li class="bestseller-item">
                <img src="./img/main-page/3bestsaller/shu-cake.webp" alt="bestseller image">
                <div style="height: 29px;" class="bestsellers-titlediv">
                    <h3>Тістечка Шу</h3>
                    <img src="./img/main-page/header/Shopping-cart.webp" alt="shopping cart">
                </div>
                <p>400 грн/ 6 шт</p>
            </li>
        </ul>
        <div class="bestseller-btn">
            <button type="button">Переглянути весь асортимент</button>   
        </div> 
    </div>
</section>