<section class="delivery-payment">
  <div class="container info-container">
    <h2 class="payment">Доставка і оплата</h2>
    <ul class="info-list">
      <li class="info-item">
        <div id="delivery-div1">  
          <img
          class="delivery-image"
          src="./img/about-page/delivery-and-payment/package-box.webp"
          alt=""
        />
        </div> 
        <h3 class="info-title">Самовивіз</h3>
        <p class="info-text">
          Самовивіз з Печерського р-ну,<br />
          м. Київ
        </p>
      </li>
      <li class="info-item">
        <div id="delivery-div2">
          <img
          class="delivery-image"
          src="./img/about-page/delivery-and-payment/bike-delivery.webp"
          alt=""
        />
        </div>
        <h3 class="info-title">Доставка</h3>
        <p class="info-text">
          Доставка на таксі (за<br/>
          тарифами служби таксі)
        </p>
      </li>
      <li class="info-item">
        <div id="delivery-div3">
          <img
          class="delivery-image"
          src="./img/about-page/delivery-and-payment/cash-on-delivery.webp"
          alt=""
        />
        </div>
        <h3 class="info-title">Передплата</h3>
        <p class="info-text">
          Передплата на картку в <br/>
          розмірі 50% від суми<br>замовлення
        </p>
      </li>
    </ul>
  </div>
</section>
