<section class="hero">
  <div class="container container-hero">
    <div class="hero-div">
      <h1 class="hero-title">Grann</h1>
      <p class="hero-subtitle">Авторські десерти</p>
    </div>
    <button class="hero-button">
      <a href="../../catalog.html">До каталогу</a>
    </button>
    <ul class="hero-list">
      <li class="hero-item">
        <a href="/"
          ><img
            src="./img/main-page/1main/telegram.webp"
            alt="telegram"
            class="hero-img"
        /></a>
      </li>
      <li class="hero-item">
        <a href="/"
          ><img
            src="./img/main-page/1main/facebook.webp"
            alt="faebook"
            class="hero-img"
        /></a>
      </li>
      <li class="hero-item">
        <a href="/"
          ><img
            src="./img/main-page/1main/instagram.webp"
            alt="instagram"
            class="hero-img"
        /></a>
      </li>
    </ul>
  </div>
</section>
