<section class="faq">
    <div class="container faq-container">
      <h2 class="faq-title">Популярні запитання</h2>
      <ul class="faq-list">
        <li class="faq-item">
          <h3 class="faq-subtitle">
            Скільки часу потрібно для виготовлення замовлення?
          </h3>
          <svg class="faq-bracket" width="32" height="21" viewBox="0 0 32 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d_11_263)">
              <path d="M14.9393 12.5607C15.5251 13.1464 16.4749 13.1464 17.0607 12.5607L26.6066 3.01472C27.1924 2.42893 27.1924 1.47918 26.6066 0.893398C26.0208 0.307611 25.0711 0.307611 24.4853 0.893398L16 9.37868L7.51472 0.893399C6.92893 0.307612 5.97918 0.307612 5.3934 0.893399C4.80761 1.47919 4.80761 2.42893 5.3934 3.01472L14.9393 12.5607ZM14.5 9.5L14.5 11.5L17.5 11.5L17.5 9.5L14.5 9.5Z" fill="#705A66" />
            </g>
            <defs>
              <filter id="filter0_d_11_263" x="0.954041" y="0.454102" width="30.0919" height="20.5459" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                <feOffset dy="4" /> 
                <feGaussianBlur stdDeviation="2" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_11_263" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_11_263" result="shape" />
              </filter>
            </defs>
          </svg>
        </li>
        <li class="faq-items"> 
          <p class="faq-text">
            Замовлення необхідно зробити як мінімум за 3-4 дні до вашого свята
          </p>
        </li>
        <li class="faq-item">
          <h3 class="faq-subtitle">Чи є у вас доставка?</h3>
          <svg class="faq-bracket" width="32" height="21" viewBox="0 0 32 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d_11_263)">
              <path d="M14.9393 12.5607C15.5251 13.1464 16.4749 13.1464 17.0607 12.5607L26.6066 3.01472C27.1924 2.42893 27.1924 1.47918 26.6066 0.893398C26.0208 0.307611 25.0711 0.307611 24.4853 0.893398L16 9.37868L7.51472 0.893399C6.92893 0.307612 5.97918 0.307612 5.3934 0.893399C4.80761 1.47919 4.80761 2.42893 5.3934 3.01472L14.9393 12.5607ZM14.5 9.5L14.5 11.5L17.5 11.5L17.5 9.5L14.5 9.5Z" fill="#705A66" />
            </g>
            <defs>
              <filter id="filter0_d_11_263" x="0.954041" y="0.454102" width="30.0919" height="20.5459" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                <feOffset dy="4" />
                <feGaussianBlur stdDeviation="2" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_11_263" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_11_263" result="shape" />
              </filter>
            </defs>
          </svg>
        </li>
        <li class="faq-item">
          <h3 class="faq-subtitle">Чи готуєте ви торти з мастики?</h3>
          <svg class="faq-bracket" width="32" height="21" viewBox="0 0 32 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d_11_263)">
              <path d="M14.9393 12.5607C15.5251 13.1464 16.4749 13.1464 17.0607 12.5607L26.6066 3.01472C27.1924 2.42893 27.1924 1.47918 26.6066 0.893398C26.0208 0.307611 25.0711 0.307611 24.4853 0.893398L16 9.37868L7.51472 0.893399C6.92893 0.307612 5.97918 0.307612 5.3934 0.893399C4.80761 1.47919 4.80761 2.42893 5.3934 3.01472L14.9393 12.5607ZM14.5 9.5L14.5 11.5L17.5 11.5L17.5 9.5L14.5 9.5Z" fill="#705A66" />
            </g>
            <defs>
              <filter id="filter0_d_11_263" x="0.954041" y="0.454102" width="30.0919" height="20.5459" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                <feOffset dy="4" />
                <feGaussianBlur stdDeviation="2" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_11_263" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_11_263" result="shape" />
              </filter>
            </defs>
          </svg>
        </li>
        <li class="faq-item">
          <h3 class="faq-subtitle">Чи можна їсти ваші торти дітям і вагітним?</h3>
          <svg class="faq-bracket" width="32" height="21" viewBox="0 0 32 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d_11_263)">
              <path d="M14.9393 12.5607C15.5251 13.1464 16.4749 13.1464 17.0607 12.5607L26.6066 3.01472C27.1924 2.42893 27.1924 1.47918 26.6066 0.893398C26.0208 0.307611 25.0711 0.307611 24.4853 0.893398L16 9.37868L7.51472 0.893399C6.92893 0.307612 5.97918 0.307612 5.3934 0.893399C4.80761 1.47919 4.80761 2.42893 5.3934 3.01472L14.9393 12.5607ZM14.5 9.5L14.5 11.5L17.5 11.5L17.5 9.5L14.5 9.5Z" fill="#705A66" />
            </g>
            <defs>
              <filter id="filter0_d_11_263" x="0.954041" y="0.454102" width="30.0919" height="20.5459" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                <feOffset dy="4" />
                <feGaussianBlur stdDeviation="2" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_11_263" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_11_263" result="shape" />
              </filter>
            </defs>
          </svg>
        </li>
      </ul>
    </div>
  </section>
  