.instagram-section {
  padding-bottom: 120px;
}

.instagram-title {
  color: var(--text-color);
  font-family: 'Moniqa Display';
  font-size: 100px;
  font-weight: 900;
  line-height: 104px;
  text-align: center;
  margin-bottom: 64px;
}
.instagram-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.instagram-item {
  position: static;
  width: 393px;
  height: 393px;
}
.instagram-box{
  width: 780px;
  height: 113px;
  display: block;
  position: relative;
  margin-top: 16px;
  margin-bottom: 120px;
  padding-left: 192px;
  margin-right: 267px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  
  
}
.vector-1{
 

position: absolute;
width: 76px;
height: 90px;
left: 0;
top: 0;

}
.vector-2{

position: absolute;
width: 26px;
height: 24px;
left: 751px;
top: 12px;

}
.vector-3{
  /* Vector 35 */
position: absolute;
width: 23px;
height: 9px;
left: 757px;
top: 43px;
}
.instagram-button{
  background-color: var(--background-color);
  width: 604px;
  height: 67px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;;
  text-align: center;
  text-transform: uppercase;
  display: block;
 left: 126px;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 46px;
}
