.container {
  display: flex;
  flex-wrap: wrap;
}

.whygrann {
  background-image: url('../../img/about-page/why/background-vector11.png');
  background-repeat: no-repeat;
  background-position: center 57px;
} 

.about-grann {
  height: 104px;
  color: var(--text-color);
  font-family: "Moniqa Display";
  font-size: 100px;
  font-weight: 900;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}

.image-grann {
  width: 605px;
  height: 631.34px;
  display: block;
  margin-right: 136px;
  background-image: url('../../img/about-page/why/grannwithlove.webp');
  background-repeat: no-repeat;
}
.grann-description {
  width: 499px;
  margin-top: 100px;
}
.list-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--text-color);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
  flex-wrap: nowrap;
}
.list-description {
  color: var(--text-color);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
  flex-wrap: nowrap;
}
.list-description1 {
  color: var(--text-color);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 65px;
  flex-wrap: nowrap;
}
