<section class="hero">
    <div class="container">
        <h1 class="hero-title">Авторські десерти</h1>
        <div class="hero-div">
            <p class="hero-article">Виготовляємо десерти під<br>замовлення з любов’ю та користю</p>
            <ul class="hero-list">
                <li class="hero-item">
                    <img src="../../img/main-page/1main/telegram.webp" alt="telegram" class="hero-img">
                </li>
                <li class="hero-item">
                    <img src="../../img/main-page/1main/facebook.webp" alt="faebook" class="hero-img">
                </li>
                <li class="hero-item">
                    <img src="../../img/main-page/1main/instagram.webp" alt="instagram" class="hero-img">
                </li>
            </ul>
        </div>
    </div>
</section>