<section class="instagram-section">
    <div class="container">
        <h1 class="instagram-title">Instagram</h1>
        <ul class="instagram-list">
            <li class="instagram-item"><img class="instagram-img" src="./img/main-page/10instagram/fruits.webp" alt="error"></li>
            <li class="instagram-item"><img class="instagram-img" src="./img/main-page/10instagram/dough.webp" alt="error"></li>
            <li class="instagram-item"><img class="instagram-img" src="./img/main-page/10instagram/dinner.webp" alt="error"></li>
            <li class="instagram-item"><img class="instagram-img" src="./img/main-page/10instagram/eat.webp" alt="error"></li>
            <li class="instagram-item"><img class="instagram-img" src="./img/main-page/10instagram/Napoleon.webp" alt="error"></li>
            <li class="instagram-item"><img class="instagram-img" src="./img/main-page/10instagram/i.webp" alt="error"></li>
        </ul>     
        <button type="submit" class="instagram-button">Завітати на сторінку</button>
    </div>
</section>