<section class="whygrann-section">
  <div class="container whygrann-container">
    <div class="whygrann-box">
      <h1 class="whygrann-title">Чому саме Grann?</h1>
      <ul class="whygrann-list">
        <li class="whygrann-item"> 
          <h2 class="whygrann-subtitle">ВСІ ІНГРЕДІЄНТИ СВІЖІ ТА ЯКІСНІ!</h2>
          <p class="whygrann-desc">Я замовляю продукти тільки у тих постачальників, які мають сертифікати якості.</p>
        </li>
        <li class="whygrann-item">
          <h2 class="whygrann-subtitle">МОЖЛИВІСТЬ ЗАМОВИТИ ДЕСЕРТ ЗГІДНО ВАШИХ ПОБАЖАННЬ</h2>
          <p class="whygrann-desc">Якщо з якихось причин ви не<br> вживаєте окремі продукти<br> десерту, є можливість зробити<br> замовлення згідно ваших<br> побажаннь.</p>
        </li>
        <li class="whygrann-item">
          <h2 class="whygrann-subtitle">ЗРУЧНА ВАГА ТОРТУ</h2>
          <p class="whygrann-desc">Не обов'язково чекати на свято, щоб замовити смачненьке. Наша кондитерська робить мініторти і десерти.<br><br>
  
            Мінімальна вага замовлення:Наполеон і медовик - від 0,5 кг.Мусові торти - від 0,8 кг.</p>
        </li>
      </ul>
    </div>
  </div> 
</section>
