<section class="hero">

</section>
<section class="top-nav-section">
    <nav class="top-nav">

    </nav>
</section>
<section class="food-section">
    <ul class="food-list">
        <li class="food-item"></li>
        <li class="food-item"></li>
        <li class="food-item"></li>
        <li class="food-item"></li>
        <li class="food-item"></li>
        <li class="food-item"></li>
        <li class="food-item"></li>
        <li class="food-item"></li>
        <li class="food-item"></li>
        <li class="food-item"></li>
        <li class="food-item"></li>
        <li class="food-item"></li>
        <li class="food-item"></li>
        <li class="food-item"></li>
        <li class="food-item"></li>
    </ul>
</section>
<section class="bottom-nav-section">
<nav class="bottom-nav">

</nav>
</section>