<section class="gallery-section">
  <div class="container">
    <ul class="gallery-list">
      <li class="gallery-item">
        <img
          class="gallery-img"
          src="../../img/catalog/catalog/pict (5) (1).webp"
          alt="error"
        />
        <h1 class="gallery-name">Мусовий торт “Манго-маракуйя”</h1>
        <h2 class="gallery-desc">1200 грн/ 3 кг</h2>
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          src="../../img/catalog/catalog/pict (6).webp"
          alt="error"
        />
        <h1 class="gallery-name">Шоколадний торт з малиною</h1>
        <h2 class="gallery-desc">1000 грн/ 2 кг</h2>
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          src="../../img/catalog/catalog/pict (7).webp"
          alt="error"
        />
        <h1 class="gallery-name">Торт “Ківі-маракуйя”</h1>
        <h2 class="gallery-desc">1100 грн/ 1.5 кг</h2>
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          src="../../img/catalog/catalog/pict (8).webp"
          alt="error"
        />
        <h1 class="gallery-name">Торт “Снікерс”</h1>
        <h2 class="gallery-desc">1400 грн/ 3 кг</h2>
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          src="../../img/catalog/catalog/pict (9).webp"
          alt="error"
        />
        <h1 class="gallery-name">Торт “Наполеон”</h1>
        <h2 class="gallery-desc">1000 грн/ 2 кг</h2>
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          src="../../img/catalog/catalog/pict (10).webp"
          alt="error"
        />
        <h1 class="gallery-name">Торт “Тіраміссу”</h1>
        <h2 class="gallery-desc">1350 грн/ 2 кг</h2>
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          src="../../img/catalog/catalog/pict (11).webp"
          alt="error"
        />
        <h1 class="gallery-name">Торт “Медовик”</h1>
        <h2 class="gallery-desc">800 грн/ 1,5 кг</h2>
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          src="../../img/catalog/catalog/pict (12).webp"
          alt="error"
        />
        <h1 class="gallery-name">Торт “Вафельно-горіховий”</h1>
        <h2 class="gallery-desc">1000 грн/ 2 кг</h2>
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          src="../../img/catalog/catalog/pict (13).webp"
          alt="error"
        />
        <h1 class="gallery-name">Торт “Фісташка-малина”</h1>
        <h2 class="gallery-desc">1350 грн/ 2 кг</h2>
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          src="../../img/catalog/catalog/pict (5) (1).webp"
          alt="error"
        />
        <h1 class="gallery-name">Мусовий торт “Манго-маракуйя”</h1>
        <h2 class="gallery-desc">1200 грн/ 3 кг</h2>
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          src="../../img/catalog/catalog/pict (6).webp"
          alt="error"
        />
        <h1 class="gallery-name">Шоколадний торт з малиною</h1>
        <h2 class="gallery-desc">1000 грн/ 2 кг</h2>
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          src="../../img/catalog/catalog/pict (7).webp"
          alt="error"
        />
        <h1 class="gallery-name">Торт “Ківі-маракуйя”</h1>
        <h2 class="gallery-desc">1100 грн/ 1.5 кг</h2>
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          src="../../img/catalog/catalog/pict (8).webp"
          alt="error"
        />
        <h1 class="gallery-name">Торт “Снікерс”</h1>
        <h2 class="gallery-desc">1400 грн/ 3 кг</h2>
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          src="../../img/catalog/catalog/pict (9).webp"
          alt="error"
        />
        <h1 class="gallery-name">Торт “Наполеон”</h1>
        <h2 class="gallery-desc">1000 грн/ 2 кг</h2>
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          src="../../img/catalog/catalog/pict (10).webp"
          alt="error"
        />
        <h1 class="gallery-name">Торт “Тіраміссу”</h1>
        <h2 class="gallery-desc">1350 грн/ 2 кг</h2>
      </li>
    </ul>
    <nav class="gallery-nav">
      <ul class="nav-list">
        <li class="nav-item"></li>
        <li class="nav-numbers">1, 2, 3</li>
        <li class="nav-item"></li>
      </ul>
    </nav>
  </div>
</section>
