<section class="delivery-payment">
  <div class="container info-container">
    <h3 class="payment">Доставка і оплата</h3>
    <ul class="info-list">
      <li class="info-item">
        <img
          class="delivery-image"
          src="../../img/about-page/delivery-and-payment/package-box.webp"
          alt=""
        />
        <h4 class="info-title">Самовивіз</h4>
        <p class="info-text">Самовивіз з Печерського р-ну,<br> м. Київ</p>
      </li>
      <li class="info-item">
        <img
          class="delivery-image"
          src="../../img/about-page/delivery-and-payment/bike-delivery.webp"
          alt=""
        />
        <h4 class="info-title">Доставка</h4>
        <p class="info-text">Доставка на таксі (за<br> тарифами служби таксі)</p>
      </li>
      <li class="info-item">
        <img
          class="delivery-image"
          src="../../img/about-page/delivery-and-payment/cash-on-delivery.webp"
          alt=""
        />
        <h4 class="info-title">Передплата</h4>
        <p class="info-text">
          Передплата на картку в <br> розмірі 50% від суми замовлення
        </p>
      </li>
    </ul>
  </div>
</section>
