<section class="deserts">
  <div class="container container-deserts">
    <ul class="deserts-list">
      <li class="deserts-item">
        <button class="deserts-button">Торти</button>
      </li>
      <li class="deserts-item">
        <button class="deserts-button">Шу</button>
      </li>
      <li class="deserts-item">
        <button class="deserts-button">Тістечка</button>
      </li>
      <li class="deserts-item">
        <button class="deserts-button">Піца</button>
      </li>
    </ul>
  </div>
</section>
