<footer class="footer">
    <div class="container footer-container">
        <div class="footer-infodiv">
            <adress class="footer-adress">с. Хотів, вул. Партизанська 1А</adress>
            <a class="footer-email" href="mailto:kostromaganna@gmail.com">Email: kostromaganna@gmail.com</a>
            <a class="footer-tel" href="tel:380999876240">Tel: +38(099) 987 62 40</a>
        </div>
        <a href="../index.html"><img class="footer-image" src="./img/main-page/footer/logoGrann2.webp" alt="logo grann for a footer"></a>
        <div class="footer-socialdiv">
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="/"><img class="footer-social" src="./img/main-page/footer/inst.webp" alt="instagram logo"></a>
                </li>
                <li class="footer-item">
                    <a href="/"><img class="footer-social" src="./img/main-page/footer/telegr.webp" alt="telegram logo"></a>
                </li>
                <li class="footer-item">
                    <a href="/"><img class="footer-social" src="./img/main-page/footer/viber.webp" alt="viber logo"></a>
                </li>
            </ul>
            <a class="footer-article">Політика конфіденційності</a>
            <a class="footer-text">Договір оферти</a>
        </div>
    </div>
</footer>