<header class="header">
    <div class="container">
        <nav class="nav">
            <ul class="header-list1">
                <li class="header-item">
                    <a class="header-link" href="./catalog.html">Каталог</a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="./about-page.html">Про мене</a>
                </li>
            </ul>
            <a href="../index.html"><img class="header-logo" src="./img/main-page/header/logoGrann1.webp" alt="logo of the grann"></a>
            <ul class="header-list2">
                <li class="header-item">
                    <a class="header-link" href="./delivery.html">Доставка</a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="./index.html">Контакти</a>
                </li>
            </ul>
            <a class="header-cart" href="/">
                <img src="./img/main-page/header/Shopping-cart.webp" alt="shopping card">
            </a>
        </nav>
    </div>
</header>