<!-- <header class="header">
    <div class="container">
        <nav class="nav">
            <ul class="header-list1">
                <li class="header-item">
                    <a class="header-link" href="/">Каталог</a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="/">Про мене</a>
                </li>
            </ul>
            <img class="header-logo" src="./img/logo-grann.png" alt="logo of the grann">
            <ul class="header-list2">
                <li class="header-item">
                    <a class="header-link" href="/">Доставка</a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="/">Контакти</a>
                </li>
            </ul>
            <a class="header-cart" href="/">
                <img src="./img/shopping-cart.png" alt="shopping card">
            </a>
        </nav>
    </div>
</header> -->