.description {
  padding-bottom: 64px;
}
.link-div {
  display: flex;
  gap: 151px;
}

.link-description {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
  margin-bottom: 20px;
  border: none;
  background-color: var(--form-color);
}
.link-description:hover {
  color: black;
}

.description-text {
  width: 499px;
  margin-top: 40px;
  margin-right: 106px;
}
.text {
  font-size: 18px;
  font-weight: 300;
  line-height: 130%;
  text-align: left;
  margin: 0px 0px 0px 0px;
}
.text1 {
  font-size: 18px;
  font-weight: 300;
  line-height: 130%;
  text-align: left;
}
