.description {
  background-color: var(--form-color);
  padding-bottom: 64px;
}
.link-div {
  display: flex;
  gap: 151px;
}

.link-description {
  color: var(--text-color);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
  border: none;
  background-color: var(--form-color);
}
.link-description:hover {
    color: black;
}

.description-text {
  width: 499px;
  margin-top: 40px;
  margin-right: 106px;
}
.text {
  color: var(--text-color);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
}
