.gallery-section{
    padding-bottom: 120px;
}
.gallery-list{
    display: flex;
    flex-wrap: wrap;
    row-gap:32px ;
    column-gap: 30px;
}

.gallery-name{
position: static;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;



flex: none;
margin: 10px 0px;
color: var(--text-color);
font-size: 24px;
font-weight: 300;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}
.gallery-desc{
    color: var(--text-color);
font-family: "Montserrat";
font-size: 18px;
font-weight: 300;
line-height: 22px;

}
.nav-numbers{
    color: var(--text-color);
font-family: "Montserrat";
font-size: 24px;
font-weight: 300;
line-height: 29px;
text-align: center;
margin-left: 32px;
margin-right: 32px;
align-items: center ;
padding-top: 3px;
padding-bottom: 3px;

}
.nav-box{
    display:flex ;
    margin-top: 59.5px;
    justify-content: center;
}
#nav-arrow{
    background-color: var(--text-color);
width: 35px;
height: 35px;
border-radius: 50%;
border: none;
align-items: center;
padding: 5px 7px 17px 8px;
}