.hero-section {
  padding-bottom: 52.5px;
  padding-top: 24.5px;
}
.hero-list {
  display: flex;
  gap: 32px;
}

.hero-item button {
  border: 1px solid var(--text-color);
  border-radius: 100px;
  padding: 10px 30px 10px 30px;
  color: var(--text-color);
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  cursor: pointer;
}

.hero {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 23px;
}
.hero-item button:hover {
  background-color: var(--text-color);
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
   color: rgb(245, 247, 248);
}
.hero-title {
  font-family: 'Moniqa Display';
  font-size: 100px;
  font-weight: 900;
  line-height: 104px;
  text-align: center;
  margin-bottom: 24px;
}
