.hero-section{
    padding-bottom: 52.5px;
}
.hero-list{
    display: flex;
    
}
.hero-item{
    box-sizing: border-box;
border: 1px solid var(--text-color);
border-radius: 100px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 30px 10px 30px;
flex: none;
margin: 0px 32px;
color: var(--text-color);
font-family: "Montserrat";
font-size: 18px;
font-weight: 300;
line-height: 22px;
text-align: center;
} 
.hero{
font-family: "Montserrat";
font-size: 14px;
font-weight: 300;
line-height: 17px;
text-align: left;
padding-top: 24.5px;
margin-bottom: 23px;
}
.hero-item:hover{
        
background: var(--text-color);
color: rgb(245, 247, 248);
font-family: "Montserrat";
font-size: 18px;
font-weight: 300;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
}
.hero-title{
color: var(--text-color);
font-family: "Moniqa Display";
font-size: 100px;
font-weight: 900;
line-height: 104px;
text-align: center;
}

