<section class="description">
    <div class="container description-container">
  <div class="link-div">
    <a class="link-description" href="">Опис</a>
    <a class="link-description" href="">Умови зберігання</a>
    <a class="link-description" href="">Доставка</a>
  </div>
  <p class="description-text">
  <p class="text1">Ніжний десерт, який знайомий усім нам з дитинства.</p>
   <p class="text">Ви маєте можливість замовити класичний торт без </p>
    <p class="text">прикрас, або ж прикрасити його соковитими </p>
    <p class="text1">ягодами або карамеллю.</p>
    <p class="text">Не відмовляйте собі у спокусі скуштувати “Наполеон”
    <p class="text">! Ви маєте можливість замовити торт без цукру, без </p>
   <p class="text"> глютену та без лактози.</p>
  </p>
</div>
</section>
