<section class="description">
    <div class="container description-container">
  <div class="link-div">
    <a class="link-description" href="link-description">Опис</a>
    <a class="link-description" href="link-description">Умови зберігання</a>
    <a class="link-description" href="link-description">Доставка</a>
  </div>
  <p class="description-text">
   <form class="text">Ніжний десерт, який знайомий усім нам з дитинства.</form>  <br />

   <form class="text">Ви маєте можливість замовити класичний торт без <br />
    прикрас, або ж прикрасити його соковитими <br />
    ягодами або карамеллю.</form> <br />

    <form class="text"> Не відмовляйте собі у спокусі скуштувати “Наполеон”<br />! Ви маєте
    можливість замовити торт без цукру, без <br />
    глютену та без лактози.</form>
  </p>
</div>
</section>
