<section class="description">
    <div class="container description-container">
  <div class="button-div">
    <button class="button-description" type="button">Опис</button>
    <button class="button-description" type="button">Умови зберігання</button>
    <button class="button-description" type="button">Доставка</button>
  </div>
  <p class="description-text">
   <form class="text">Ніжний десерт, який знайомий усім нам з дитинства.</form>  <br />

   <form class="text">Ви маєте можливість замовити класичний торт без <br />
    прикрас, або ж прикрасити його соковитими <br />
    ягодами або карамеллю.</form> <br />

    <form class="text"> Не відмовляйте собі у спокусі скуштувати “Наполеон”<br />! Ви маєте
    можливість замовити торт без цукру, без <br />
    глютену та без лактози.</form>
  </p>
</div>
</section>
