<section class="you-can-try">
  <div class="container recommendation">
    <h4 class="text-recommendation">Також можете спробувати:</h4>
    <ul class="cake-recommendation">
      <li class="cake-item">
        <img
          class="img-recommendation"
          src="./../img/delivery/recommendation/pict (10).webp"
          alt="Торт “Тіраміссу"
        />
        <div class="recommendation-div">
          <h3 class="cake-name">Торт “Тіраміссу”</h3>
          <img
            class="recommendation-img-div"
            src="./../img/main-page/header/Shopping-cart.webp"
            alt=""
          />
        </div>
        <p class="cake-price">1350 грн/ 2 кг</p>
      </li>
      <li class="cake-item">
        <img
          class="img-recommendation"
          src="./../img/delivery/recommendation/pict (8).webp"
          alt="Торт “Снікерс"
        />
        <div class="recommendation-div">
          <h3 class="cake-name">Торт “Снікерс”</h3>
          <img
            class="recommendation-img-div"
            src="./../img/main-page/header/Shopping-cart.webp"
            alt=""
          />
        </div>
        <p class="cake-price">1400 грн/ 3 кг</p>
      </li>
      <li style="padding-bottom: 0;" class="cake-item">
        <img
          class="img-recommendation"
          src="./../img/delivery/recommendation/pict (5) (1).webp"
          alt="Мусовий торт “Манго-маракуйя"
        />
        <div class="recommendation-div">
          <h3 class="cake-name">
            Мусовий торт “ <br />
            Манго-маракуйя”
          </h3>
          <img
            class="recommendation-img-div"
            src="./../img/main-page/header/Shopping-cart.webp"
            alt=""
          />
        </div>
        <p  class="cake-price">1200 грн/ 3 кг</p>
      </li>
    </ul>
  </div>
</section>
