 .bestsellers {
    padding-top: 120px;
    padding-bottom: 120px;
 }

 .bestsellers-title {
    color: var(--text-color);
    font-family: 'Moniqa Display';
    font-size: 100px;
    font-weight: 900;
    text-align: center;
 }

 .bestseller-buttondiv {
    margin-top: 4px;
    margin-bottom: 32px;
    display: flex;
    justify-content: flex-end;
    gap: 32px;
 }

 .bestseller-button {
    border: 1px solid var(--text-color);
    border-radius: 22px;
    background: var(--white-background);
    padding: 14px 18px 13px 17px;

 }

 .bestseller-button:hover {
    background: var(--background-color);
 }

.bestsellers-list {
    display: flex;
    gap: 32px;
}

.bestsellers-titlediv {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.bestsellers-titlediv img {
    height: 25px;
    cursor: pointer;
}

.bestsellers-titlediv h3 {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 24px;
    color: var(--text-color);
}

.bestseller-item p {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 18px;
    color: var(--text-color);
    margin-top: 10px;
}



