.container {
  /* outline: solid red; */
  width: 1240px;
  margin: 0 auto;
  padding-left: 206px;
  padding-right: 206px;
}

.faq-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.faq-title {
  font-family: var(--third-family);
  font-weight: 900;
  font-size: 100px;
  color: var(--text-color);
  margin-bottom: 64px;
  text-align: center;
}

.faq-item {
  display: flex;
  width: 828px;
  height: 53px;
  border-bottom: 1px solid #705a66;
  margin-bottom: 56px;
}

.faq-item:first-child {
  width: 828px;
  height: 53px;
  border-bottom: 1px solid #705a66;
  margin-bottom: 24px;
}

.faq-item:last-child {
  width: 828px;
  height: 53px;
  border-bottom: 1px solid #705a66;
  margin-bottom: 0px;
}

.faq-subtitle {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  color: #705a66;
  margin-bottom: 24px;
}

.faq-bracket {

}

.faq-items {
  margin-bottom: 56px;
}

.faq-text {
  color: var(--text-color);
  font-weight: 300;
  font-size: 18px;
  color: #705a66;
  margin-top: 16px;
}
