.delivery-payment {
  padding-bottom: 120px;
  padding-top: 120px;
  background-image: url('../../img/about-page/delivery-and-payment/background-vector12.png');
  background-position: 50% -230px;
  background-repeat: no-repeat;
}

.payment {
  color: var(--text-color);
  text-align: center;
  font-size: 100px;
  font-weight: 900;
  font-family: "Moniqa Display";
  margin-bottom: 64px;
} 

.info-list {
  display: flex;
  justify-content: center;
  gap: 83px;
}

/* .info-item {
  outline: solid blue;
} */

.info-item:nth-child(1) {
  padding-top: 20.41px;
  padding-bottom: 15px;
  
}

.info-item:nth-child(2) {
  padding-top: 20.01px;
  padding-bottom: 20px;
  border-right: 1px solid rgb(221, 213, 198);
  border-left: 1px solid rgb(221, 213, 198);
}

.info-item:nth-child(3) {
  padding-top: 9.98px; 
  padding-bottom: 10px;
}
.info-title{
  margin-bottom: 20px;
}



#delivery-div1 {
  margin-bottom: 38px;
  padding-left: 106.37px;
  padding-right: 106.37;
}

#delivery-div2 {
  margin-bottom: 39px;
  padding-left: 93.01px;
  padding-right: 93.01px;
}

#delivery-div3 {
  margin-bottom: 29.98px;
  padding-left: 104.01px;
  padding-right: 104.01px;
}

.info-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
}

.info-text {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
}


