.whygrann-section {
  background-image: url(../../img/main-page/whygrann/background.png), url(../../img/about-page/why/background-vector11.png);
  background-repeat: no-repeat;
  background-position: center 50px, center 50px;
  padding-bottom: 120px;
}

.whygrann-container {
    padding-left: 106px;
    padding-right: 69px;
}

.whygrann-title {
  color: var(--text-color);
  font-family: "Moniqa Display";
  font-size: 100px;
  font-weight: 900;
  text-align: center;
}
.whygrann-subtitle {
  color: var(--text-color);
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.whygrann-desc {
  margin-top: 24px;
  color: var(--text-color);
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.whygrann-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.whygrann-item:nth-child(1) {
  margin-bottom: 176px;
  margin-right: 377px;
  width: 288px;
}

.whygrann-item:nth-child(2){
    width: 393px;
    
}

.whygrann-item:nth-child(3){
    width: 599px;
    margin: 0 auto;
}
